<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/dist/common/images/home-logo.png" height="28">
            <span class="navbar-title">
                王龙·博文
            </span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item search-box">
                <input class="input is-rounded is-small" type="text" />
            </a>
            <a class="navbar-item">
                <span>NodeJs</span>
            </a>

            <a class="navbar-item">
                <span>JavaScript</span>
            </a>

            <a class="navbar-item">
                <span>Css</span>
            </a>

            <a class="navbar-item">
                <span>docker</span>
            </a>

            <a class="navbar-item">
                <span>linux</span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        设计模式
                    </a>
                    <a class="navbar-item">
                        算法
                    </a>
                    <a class="navbar-item">
                        数据结构
                    </a>
                    <a class="navbar-item">
                        数据库
                    </a>
                </div>
            </div>


        </div>
    </div>


</nav>