.header__logo {
    background-image: url('../images/home-logo.png');
}

.navbar {
    padding: .2rem 1.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
}
.navbar-title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
}
.navbar-other {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.navbar-item {
    font-weight: 500;
    color: #2c3e50;
}

a.navbar-item:hover,a.navbar-link:hover,a.navbar-item:focus {
    background-color: #fff;
    color: #2c3e50;
}

.navbar-item>span:not(.external).active,
.navbar-item>span:not(.external):hover {
    margin-bottom: -2px;
    border-bottom: 2px solid #46bd87
}

.navbar-link:focus,a.navbar-item:focus-within {
    background-color: #fff;
    color: #2c3e50;
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown { 
        margin-top: 1px;
        border-top: 2px solid #46bd87;
    }
}
.navbar-link:not(.is-arrowless)::after {
    border-color: #46bd87;
}

.search-box input {
    cursor: text;
    width: 13rem;
    height: 2rem;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 2rem;
    font-size: .9rem;
    line-height: 2rem;
    padding-left: 30px!important;
    outline: none;
    background: #fff url(../images/search.svg) .6rem .5rem no-repeat;
    background-size: 1rem;
    box-shadow: none;
}

.search-box input:focus {
    cursor: auto;
    border-color: #3eaf7c;
    /* box-shadow: 0 0 0 0.125em #a8d6c1; */
    box-shadow: none;
}