
.bd-has-text-rss {
    color: #f26522
}
.has-text-star {
    color: #ffd257
}
.has-text-orange {
    color: #ff470f!important
}

.has-text-purple {
    color: #b86bff!important
}

.has-text-bootstrap {
    color: #6f5499!important
}

.has-text-patreon {
    color: #f96854!important
}

